.our-services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 40px;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: var(--main-text-color);
  gap: 10px;
  background-color: #fff;
}

.our-services-block svg {
  color: var(--highlight-color);
  margin-bottom: 20px;
  width: 80px;
}

.our-services-block:nth-child(2) {
  background-color: var(--highlight-color);
  color: var(--filled-bg-text-color);
}

.our-services-block:nth-child(2) svg {
  color: var(--filled-bg-text-color);
}
