.our-services {
  padding: 100px 145px;
}

.our-services .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our-services .title-container p {
  width: 25%;
}

.our-services .our-services-block-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-top: 80px;
}
