.btn {
  padding: 12px 24px;
  border-radius: 4px;
}

.btn.text {
  background: none;
  border: none;
}

.btn.filled {
  background-color: var(--highlight-color);
  color: var(--filled-button-text-color);
}
